DECMED_MINISTRY_ADMIN_ADDRESS=0x1806d6620d92b40c54332c63a42c4a6e5c024b6464fa1a0ef69ddb02539bed65
DECMED_MINISTRY_ADMIN_ALIAS=decmed-publisher-campus
# Optional: set this if the IOTA CLI alias is not available on the machine running Tauri.
# DECMED_MINISTRY_ADMIN_SECRET_KEY=iotaprivkey...
