DECMED_MINISTRY_ADMIN_ADDRESS=0xa180461e6345380399f36c8b62e5d68e68d71162d3fdc504eb257e04de2942b6
DECMED_MINISTRY_ADMIN_ALIAS=decmed-publisher-testnet
# Optional: set this if the IOTA CLI alias is not available on the machine running Tauri.
# DECMED_MINISTRY_ADMIN_SECRET_KEY=iotaprivkey...

