GLOBAL_ADMIN_IOTA_ADDRESS=0x1806d6620d92b40c54332c63a42c4a6e5c024b6464fa1a0ef69ddb02539bed65
GLOBAL_ADMIN_IOTA_KEY_PAIR=iotaprivkey...
JWT_ECDSA_KEY_PAIR="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
JWT_ECDSA_PUB_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----\n"
PORT=4100
CACHE_BACKEND=memory
PROXY_IOTA_ADDRESS=0x...
PROXY_IOTA_KEY_PAIR=iotaprivkey...
PROXY_SEED_WORDS="word1 word2 ..."
REDIS_CONNECTION_URL_DEV=redis://default:password@127.0.0.1:6380
REDIS_PASSWORD=password
IOTA_URL=http://127.0.0.1:9000
IPFS_BASE_URL=http://127.0.0.1:9094/api/v0
IPFS_GATEWAY_BASE_URL=http://127.0.0.1:8080
GAS_STATION_BASE_URL=http://127.0.0.1:9528/v1
NONCE_EXP_DUR_SECONDS=180
ADMINISTRATIVE_KEYS_READ_DUR_SECONDS=300
MEDICAL_KEYS_READ_DUR_SECONDS=900
MEDICAL_KEYS_UPDATE_DUR_SECONDS=7200
PGHD_KEYS_READ_DUR_SECONDS=900
